/*This part is focussing on the style of the appointments list*/

.listAppointments  {
    table-layout: fixed;
    width: 40em;
    border-collapse: separate;
    border-spacing: 0 1em;
}

.listAppointments td {
    padding: 10px 5px 10px 5px;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    overflow: hidden;
    width: 10em;
}

.listAppointments td:first-child {
    border-left: 2px solid lightgrey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 20em;

}

.listAppointments td:last-child {
    border-right: 2px solid lightgrey;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 5em;
}

.listAppointments tr:hover td{
    cursor: pointer;
    border-color: dodgerblue;
}


.selected td {
    border-color: dodgerblue!important;
}